<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <h1>lesson </h1>
    <div id="app"> 
        <div>

        </div>
        <div v-for="(item, index) in menu">
            <input v-bind:id=" 'checkbox-'+ index " type="checkbox" v-bind:value="item.name" v-model="orders">
            <label v-bind:for="'checkbox-'+ index">{{item.name}}</label>
        </div>
        <p v-if="orders && orders.length !== 0">cac mon da goi {{orders}}</p>
    </div>
    <hr>
    <script src="./main.js"></script>
</body>

</html>`